{% extends 'base.html' %}

{% block content %}
<form id='form' name='signin' method='post' enctype='multipart/form-data' action="{% url 'logout' %}">
	 {% csrf_token %}
<ul>
    <label>Email</label>
    <input type="text" name="Email" class="btn btn-primary" /><br>
    <label>Password</label>
    <input type="password" name="password" class="btn btn-primary"/><br>
    <!-- <label>Address</label>
    <input type="text"  name="Address"/><br>
    <label>Mobilenumber</label>
    <input type="text"  name="Mobilenumber"/><br> -->
    <button type="submit" class="btn btn-primary">Click</button>

{%if message%}
    {{message}}
{% else %}
     User not created
{% endif %}

</form>
{% endblock %}