{% extends 'base_index.html' %}
{% block content %}
<div id="contents">
  <select id ="college_id" class="colleges_cls" multiple="multiple">	
	{% for i in colleges%}	
	<option>{{i}}</option>
	{%endfor%}
</select>
<select id ="year_id" class="year_cls" multiple="multiple">
	{% for i in years%} 	
	<option>{{i}}</option>
	{%endfor%}
</select>
<script>
 $(document).ready(function() {
$(".colleges_cls").SumoSelect({search: true,searchText: 'Enter episode...',selectAll: true});
$(".year_cls").SumoSelect({search: true,searchText: 'Enter year...',selectAll: true});

});
</script>
</div>
<button type="button" onclick="button()">download</button>
<script>
function button()
{
    // alert("sunitha");
    // alert('hi');
    var options = {background:"#418423"}

    var doc = new jsPDF('p', 'pt', 'a4');

    doc.addHTML($('#dynamic_table'),options, function(){
        doc.save('reportinfo.pdf');
    });
}
</script>
<!-- <button type="submit" class="btn btn-primary" id="submit_btn" onclick="sunita()">Submit</button> -->


<!-- multi dropdown code  start -->
<!--dis for textbox and dropdown in jq and geting d value-->
<!-- <div class="dropdown">
  <button class="dropbtn">Colleges</button>
  <div class="dropdown-content" id ="college_id">

    {% for i in colleges%}
    <label><input type="checkbox" name="colleges" value="{{i}}">{{i}}</input> </label>   
    {%endfor%}
  </div>
</div> -->

<!-- <div class="dropdown">
  <button class="dropbtn">Years</button>
  <div class="dropdown-content" id ="year_id">
  {% for j in years%}
  <label><input type="checkbox" name="years" value="{{j}}">{{j}}</input> </label>
  {%endfor%}
  </div>
</div> -->

<!--  multi dropdown code  end -->

<button type="submit" class="btn btn-primary" id="submit_btn">Submit</button>

<div id="dynamic_table">
{{table_data|safe}}
</div>
<!--  modal popup data start -->

<div id="myPopupModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Detailed Report</h2>
    </div>
    <div class="modal-body" id="modal_popup_data">      
      
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>

<!-- modal popup end -->


<script >
$('.table td').click(function(){
console.log(event.target.id);
var modal = document.getElementById('myPopupModal');
    var span = document.getElementsByClassName("close")[0];    
	$.ajax({
        type:"GET",
        url:"/process/static_data_versionpopup/",
            data:{"student_report":event.target.id},
            success:function(data)
            {
                console.log("success");
                console.log(data);
                console.log(data.popup_data);
                $(".modal-body").html(data.popup_data);
                modal.style.display = "block";
            }
        });

		span.onclick = function() {
    	modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	}
// alert(event.target.id);
});




// When the user clicks on <span> (x), close the modal

// function sunitha(){
//     document.getElementById("year_id").value;
// }

$('#submit_btn').click(function(){

	//alert("hi");
	// var year=$('#year_id').val();
	// var college=$('#college_id').val();
 //    console.log(year);
 //    console.log(college);

    // var colleges_list = [];
    //     $.each($("input[name='colleges']:checked"), function(){
    //             colleges_list.push($(this).val());
    //         });
    // // alert(colleges_list);
    // var years_list = [];
    //     $.each($("input[name='years']:checked"), function(){
    //             years_list.push($(this).val());
    //         });
    // alert(years_list);
  colleges_list=$(".colleges_cls").val();
  years_list=$(".year_cls").val();
  // alert(getcollist);


	if ((colleges_list!='') && (years_list !=''))
	{
		alert(years_list);
		$.ajax({
            type:"GET",
            url:"/process/student_data/",
            data:{"sel_year":years_list,"sel_college":colleges_list},
            // dataType : 'json',
            success:function(data)
            {                       
            	console.log("success");
                // console.log(data.filter_data);
                // alert(data.filter_data);
                //
                $("#dynamic_table").html(data.filter_data);
                               
            }            
        });

	}
	else
	{
		alert('Please select college or year!!!!');
	}
	// alert(year);

});

</script>
{% endblock %}