{% extends 'base.html' %}

{% block content %}
<br>
<table border="1">
<thead>
	<th>Login</th>
	<th>Assigned</th>
	<th>Process</th>
	<th>Supervisor</th>
	<th>Status</th>
</thead>

{%for i in details%}

	<tr>
		<td id="get_id">{{i.login}}</td>
		<td>
			<select id="mySelects">
				{% for j in assigned %}					
					{%if i.assigned == j %}
						<option value="{{i.assigned}}" selected="selected">{{i.assigned}}</option>
		  			{%else%}
						<option value="{{j}}">{{j}}</option>
					{%endif%}
				{% endfor %}
			</select>
			<p id="demo"></p>
		</td> 
		<!-- <td>{{i.assigned}}</td> -->

		<td>{{i.process}}</td>
		<td>{{i.supervisor}}</td>

		<td>
			<select id="mySelect" onchange="myFunction()">			  	
			  	{% for j in status %}
			  		{%if i.status == j %}
			  			<option value="{{i.status}}" selected="selected">{{i.status}}</option>
			  		{%else%}
						<option value="{{j}}">{{j}}</option>
					{%endif%}
				{% endfor %}
				
			</select>
			<p id="demo"></p>
		
				
		</td>

		<!-- <td>{{i.status}}</td> -->

	</tr>

	{%endfor%}
</table>

<script type="text/javascript">
function myFunction () {
	//this is for getting all the status in task_call page in browser
	var x = document.getElementById("mySelect").value;
	//this is for getting all the ids in task_call page in browser    
	var id=document.getElementById("get_id").innerText;
	//this is for getting all the assigned ids in task_call page in browser
	var assigned_value = document.getElementById("mySelects").value;

	alert(assigned_value);
	if (assigned_value!="ASSIGNED")
	{
		$.ajax({
				type:"GET",
				url:"/process/task_call/",
	 			data:{"check_this":x,"user_id":id,"assign_dat":assigned_value},
	 			success:function(data)
				{alert("success");}
			});

	}
	else
	{
		alert("not updated");	
	}

	// $.ajax({
	// 			type:"GET",
	// 			url:"/process/task_call/",
	// 			data:{"check_this":x,"user_id":id},

	// 			success:function(data)
	// 			{alert("success");}

	// 		});

}

</script>
<script type="text/javascript">
function myFunctions() {
	//this is for getting all the assigned in task_call page in browser
	var x = document.getElementById("mySelects").value;
	//this is for getting all the ids in task_call page in browser    
	var id=document.getElementById("get_id").innerText;
	alert(id,x);
	$.ajax({
				type:"GET",
				url:"/process/task_call/",
				data:{"assigned_part":x,"user_id":id},

				success:function(data)
				{alert("success");}

			});

}

</script>



{% endblock %}

