{% extends 'base_index.html' %}
{% block content %}
<div>
<select id="projectdats" >
	<option >projects</option>
	{%for i in projectin%}
	<option >{{i}}</option>
	{%endfor%}
</select>
<select id="epsdes">
	<option>episodes</option>
	{%for i in ep%}
	<option>{{i}}</option>
	{%endfor%}
</select>
<select id="productsdata">
	<option>producttype</option>
	{%for i in product%}
	<option>{{i}}</option>
	{%endfor%}
</select>
<input type="button" value="filter" id="filterdata" class='btn btn-primary'></input>
<!-- <input type="button" value="save" class='btn btn-suc >cess' id="save"></input>-->
</div>
<br></br>
	<div class="container">
		<div class="gantt-target1"></div>
	</div>

	<div id="ajax_table_data_from_views">
	</div>
<script>
$('#filterdata').click(function()
{
	proj=$('#projectdats').val()	
	ep=$("#epsdes").val()	
	prod=$("#productsdata").val()
	alert(prod)
	if(proj!='projects' && ep!='episodes' && prod!='producttype')
	{
		$.ajax({
				type:"GET",
				url:"/mis/time_scheduler_ajax/",
	 			data:{"projdat":proj,"epsdedata":ep,"prdodata":prod},
	 			success:function(data1)
				{
					alert('success')
					if (data1.task_info == "")
					{
						alert("Data not found for selected filters")
					}
					else
					{
						
					var tasks = data1.dddd
					// var tasks = [
					// 	{
					// 		start: '2018-10-01',
					// 		end: '2018-10-12',
					// 		name: 'Redesign website',
					// 		id: "Task 0",
					// 		progress: 20
					// 	},
					// 	{
					// 		start: '2018-10-01',
					// 		end: '2018-10-12',
					// 		name: 'Redesign website',
					// 		id: "Task 0",
					// 		progress: 20
					// 	},
					// 	data1.dddd
					// 	]

					var gantt_chart = new Gantt(".gantt-target1", tasks, {
						on_click: function (task) {
							console.log(task);
						},
						on_date_change: function(task, start, end) {
							console.log(task, start, end);
						},
						on_progress_change: function(task, progress) {
							console.log(task, progress);
						},
						on_view_change: function(mode) {
							console.log(mode);
						}
					});
					alert(data1.dddd)

						$("#ajax_table_data_from_views").html(data1.task_info)


					}
				}
			});
	}
	else
	{
		alert("Please select appropriate values")
	}
});
</script>
<!-- save button click in js -->
<script>
$('#save').click(function()
{
	alert("savedata");
	// data = $("input[type='checkbox']").val();
	var check_array = [];
    $(':checkbox:checked').each(function(i)
    {
  		check_array[i] = $(this).val();
  		alert(check_array[i])
	// alert(data)

	});
	alert(check_array)
	
});
</script>
{%endblock%}